{% extends 'base.html.twig' %}

{% block title %}E-Shop - New Product{% endblock %}


{% block body %}

<div class='d-flex'>

    <div class='mr-5'>
          {{ render_esi(controller(
        'App\\Controller\\CategoryController::getCategories')) }}
    </div>
    <div class='flex-fill text-center' style='padding-left:10%;padding-right:10%;'>

        <h1 class='mb-3'>Add new product</h1>
        <div class='text-center px-5 w-30'>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Add</button>
        {{ form_end(form) }}
        </div>
    </div>
</div>
<script>

$('.custom-file-input').on('change', function(event) {
  let inputFile = event.currentTarget;
  $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
});
</script>
{% endblock %}


