<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-Shop{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("favicon-16x16.png") }}">
    </head>
    <body>
        <div class='row no-gutters'>
                <div class='col-md-12'>
                {{ include('layout/_navbar.html.twig') }}
                </div>
        </div>
        <div class='container-sm mt-sm-4'>
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
